<div class="page-header text-center">
    <% if(typeof alerts !== 'undefined'){ %>
        <% for(key in alerts){ %>
            <% alerts[key].forEach(function(thisMsg){ %>
              <div class="alert alert-<%= key %>"><%= thisMsg %></div>
            <% }); %>
        <% } %>
    <% } %>
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/auth" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>


                    </p>

            </div>
        </div>

    </div>