<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="brand" class="navbar-brand" href="/">cheap_date</a>
    </div>
    <div class="navbar-right">
      <a id="brand" class="navbar-brand" href="/dates">dates</a>
        <a id="brand" class="navbar-brand" href="/users/login">login</a>
        <a id="brand" class="navbar-brand" href="/users/signup">signup</a>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            username <span class="caret"></span>
          </button>
            <ul class="dropdown-menu">
              <li><a href="/about">About Us</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">logout</a></li>
            </ul>
        </div>
    </div>
  </div>
</nav>
