<div class="row">
    <div class="projectBox">

        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="http://lorempixel.com/400/200/city/" alt="">
        </div>
        <div class="col-md-6">
            <p>Our application helps users plan their dates. Based on interests, budget, and location, our app will help plan your date to fit. </p>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12 team">
            <hr>
            <h2 class="intro-text text-center">The
                <strong>Team</strong>
            </h2>
            <hr>
        </div>
        <div class="profilesBox">
        <div class="scroller" style="width: 960px; left: 0px;">

        <div class="profile">
            <div class="imgDiv">
                <a href="#" class="teamMember" title="Brandon Webster">
                    <img src="css/images/brandon.jpg" alt="Brandon Webster" width="182" height="182" class="img-circle">
                </a>
            </div>
            <div class="teamTitle profileText">
                <h2><a href="#">Brandon Webster</a></h2>
                <h5>Git & Heroku Master/Web Developer</h5>
                <p>I'm a web-developer in Seattle, WA. I get to spend my time learning new things, mastering a craft, and using analytical thinking skills to solve interesting problems. Before my career in web-development, I was an officer in the Army, where I honed my ability to manage projects, collaborate with others, and get up really early in the morning.</p>

            </div>
        </div>

        <div class="profile">
            <div class="imgDiv">
                <a href="#" class="teamMember" title="Sloan Coffin">
                    <img src="css/images/sloan.jpg" alt="Sloan Coffin" class="img-circle">
                </a>
            </div>
            <div class="teamTitle profileText">
                <h2><a href="#">Sloan Coffin</a></h2>
                <h5>Designer/Web Developer</h5>
                <p>As part of the Immersive Web Development program, I learn new languages on a weekly basis and integrate front-end and back-end technologies to form full applications. I help our team stay excited and problem-solve our way through this experience.</p>

            </div>
        </div>

        <div class="profile">
            <div class="imgDiv">
                <a href="#" class="teamMember" title="Fernando Gomez">
                    <img src="css/images/fernando.jpg" alt="Fernando Gomez" width="182" height="182" class="img-circle">
                </a>
            </div>
            <div class="teamTitle profileText">
                <h2><a href="#">Fernando Gomez</a></h2>
                <h5>Web Developer</h5>
                <p>I am a Fullstack Web Developer based out of Seattle, WA. I'm a self motivated person with great people skills who loves food, movies, and sports. I am very passionate about what I do, and I always seek challenging opportunities. I'm looking to take my customer service skills into a technical career and use those opportunities to become a better web developer.</p>

            </div>
        </div>

        <div class="profile">
            <div class="imgDiv">
                <a href="#" class="teamMember" title="Steven Aldous">
                    <img src="css/images/steve.jpg" alt="Steven Aldous" width="182" height="182" class='img-circle'>
                </a>
            </div>
            <div class="teamTitle profileText">
                <h2><a href="#">Steven Aldous</a></h2>
                <h5>Project Manager/Web Developer</h5>
                <p>I feel fortunate to work in an industry where passion and community are at the heart of our values. It inspires me to meet so many people who are wholly unique yet still share a common ground. There's not too many industries where a passion for fun and the great outdoors seeps from every corner.</p>

            </div>
        </div>

        </div>
    </div>
    </div>
</div>


