<div id="contact-well" class="well">

    <form action="" method="POST" role="form">
      <div class="row">
        <legend id="legend">Contact Us</legend>
      </div>
      <br>
      <div class="row">
        <p>Have a question or found something wrong on HeyWanna? Email us and we will do our best to right the wrong.</p>
      </div>
      <br><br>
      <div class="form-group">
        <label for="">Your email</label>
        <input type="text" class="form-control" name="sender-email" placeholder="Enter your email.">
      </div>
      <div class="form-group">
        <label for="">Email subject</label>
        <input type="text-field" class="form-control" name="email-text" placeholder="Enter your subject.">
      </div>
      <div class="form-group">
        <label for="">Your Message</label>
        <input type="text-field" class="form-control" name="email-text" placeholder="Enter your message.">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
