<div class="panel panel-default">
  <div class="panel-body">
     This page will have infinte scroll, tell users about site
     <%- link_to("Search", "/dates/search") %>
  </div>
</div>
<div class="bg" data-type="background" data-speed="5">
    <div class="revealOnScroll" data-animation="flipInX" data-timeout="400">
      <h2>oiuhsdfodfgsjohigr</h2>
      <article>I scroll faster than my parent element</article>
      <article>I scroll faster than my parent element</article>
    </div>
  </div>
<div id="element-to-animate" class="animated">
<h1>FUCK FUCK FUCK FUCK</h1>
</div>
  <div class="bg2" data-type="background" data-speed="5">
    <article>I SHOULD ANIMATE!!!</article>
    <article>I scroll faster than my parent element</article>
    <article>I scroll faster than my parent element</article>
  </div>
<!--  <div class="test123">
 <h3>THIS IS SHOULD FLOAT</h3>
 </div> -->