@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('Montserrat-Regular.woff') format('woff'),
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}
body{
  font-family: 'Montserrat-Regular',sans-serif;
  background-image: url('cardboard.png');
}

/*Big video wrap holds background video*/
/*It must be set to fixed for the bs3 top level wraper to display on top*/
/*It also needs a z-index below that of other elements*/
#big-video-wrap {
  z-index: -5;
  position: fixed;
}

#site-container{
  margin-top: 50px;
  z-index: 20;
}
#map{
	height: 500px;
	width: 500px;
}
.navbar{
  background-color: rgba(0, 0, 0, .7);
  color: #FFFFFF;
  border: none;
}
#brand{
  color: #FFFFFF;
}
#brand:hover{
  background-color: rgb(0,0,0);
}
.jumbotron{
  background: none;
}
.glyphicon-remove{
  /*margin-top:px;*/
  background: none;
  border: none;
}
.glyphicon-remove:hover{
  background: none;
}#input-field{
  border: none;
  border-radius: 0px;
}
.dropdown-toggle{
  margin-top: 10px;
  border: none;
  background: none;
}
.well{
  background-color: rgba(0, 0, 0, .3);
  /*background: none;*/
  border-radius: 0px;
  border: none;
}
input#restaurant.form-control,
input#not-restaurant.form-control {
  width: 85%;
  display: inline-block;
}
.title {
  font-size: 17px;
  color: #000080;
}
#submit-button{
  border: none;
  background-color: rgba(0,0,0, .7);
  color: #FFFFFF;
}
#submit-button:hover{
  background-color: rgba(0,0,0, .8);
}

.dropdown-toggle{
  min-height: 100%;
}
#results-header{
  background-color: rgba(0,0,0, .3);
  color: #FFFFFF;
}
.results {
  overflow: auto;
  max-height: 500px;
  min-height: 500px;
  background-color: rgba(0, 0, 0, .3);
  /*width: 85%;*/
}

#element-to-animate {
  height: 200px;
}

#element-to-animate > h1 {
  font-size: 62px;
  text-align: center;
}

#add-to-date{
  background-color: rgba(0, 0, 0, .3);
  border: none;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

.searchBtn{
  background-color: rgba(0, 0, 0, .6);
  border: none;
}

.addToDateBtn {
  margin-bottom: 15px;
}

.img-center {
  margin: 0 auto;
  border: 2px solid white;
}

.imgDiv {
  background: url('images/topBorder.png') repeat-x;
}

.socialLinks p {
  display: block;
}

#date-show{
  color: black;
  font-size: 20px;
}

.reveal-text {
  color: #000080;
}

/* ABOUT PAGE*/

.projectBox {
  margin-top: 50px;
  color: white;
}

.profilesBox {
  float: left;
  min-width: 960px;
  height: 600px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  color: black;
  line-height: 1.5;
  margin-bottom: 50px;
}

.scroller {
  position: absolute;
  top:0px;
  max-height: 900px;
  background-image: url('images/verticalBorder.png');
  background-color: rgba(0,0,0,0.6);
  background-repeat-y: background-repeat-y;
  background-origin: initial;
}

.profile {
  float:left;
  width: 240px;
  text-align: center;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.brandon {
  width: 240px;
  text-align: center;
  color: black;
}

a.teamMember {
  background-image: url('images/rightBorder.png');
  display: inline-block;
  background-color: rgba(242,245,247, 0.8);
  background-origin: initial;
  background-clip: initial;
  background-attachment: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: repeat;
  background-position-x: 0px;
  background-position-y: 4px;
  background-size: initial;
  width: 240px;
}

a.teamMember img {
  border: none;
  margin: 28px 0 23px 0;
  width: 150px;
  height: 150px;
}

.teamTitle h2 a {
  text-decoration: none;
  color: #EE4023;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 60%;
  font-family: inherit;
  vertical-align: baseline;
}

.teamTitle h2 {
  margin-top: 0;
}

/*.teamTitle p {
  padding: 15px;
}*/

.profileText {
  width: 240px;
  height: 362px;
  padding: 0 20px 0 20px;
  background: url('images/topBorder.png') repeat-x;
}

.team {
  color: white;
}

h5 {
  border-top: #CFD4D7 1px solid;
  border-bottom: #CFD4D7 1px solid;
  width: 200px;
  padding: 8px;
  font-size: 80%;
}
