body{
  background-color: #C8B288;
}
#site-container{
  margin-top: 60px;
}
#map{
	height: 500px;
	width: 500px;
}
.jumbotron{
  background-color: #C8B288;
}
.glyphicon-remove{
  margin-top: 15px;
  background: none;
  border: none;
}
.dropdown-toggle{
  margin-top: 10px;
  border: none;
  background: none;
}

input#restaurant.form-control,
input#not-restaurant.form-control {
  width: 85%;
  display: inline-block;
}

.title {
  font-size: 17px;
}

.results {
  overflow: auto;
  max-height: 500px;
  min-height: 500px;
  /*width: 85%;*/
}

.addToDateBtn {
  margin-bottom: 15px;
}

.img-center {
  margin: 0 auto;
  border: 2px solid white;
}

.socialLinks p {
  display: block;
}