body{
  background-color: #C8B288;
}
#site-container{
  margin-top: 50px;
}
#map{
	height: 500px;
	width: 500px;
}
.jumbotron{
  background-color: #C8B288;
}
.glyphicon-remove{
  margin-top: 15px;
  background: none;
  border: none;
}
.dropdown-toggle{
  margin-top: 10px;
  border: none;
  background: none;

}