body{
  background-color: #C8B288;
}

/*Big video wrap holds background video*/
/*It must be set to fixed for the bs3 top level wraper to display on top*/
/*It also needs a z-index below that of other elements*/
#big-video-wrap {
  z-index: -5;
  position: fixed;
}
#site-container{
  margin-top: 50px;
  z-index: 20;
}
#map{
	height: 500px;
	width: 500px;
}
.jumbotron{
  background-color: #C8B288;
}
