<form action="" method="POST" role="form">
  <legend>Signup</legend>
  <div class="form-group">
    <label for="">email</label>
      <input type="text" class="form-control" name="email" placeholder="Enter your email">
    <label for="">username</label>
      <input type="text" class="form-control" name="name" placeholder="Enter your username">
    <label for="">password</label>
      <input type="password" class="form-control" name="password" placeholder="Choose a password">
    <label for="">password</label>
      <input type="password" class="form-control" name="password2" placeholder="Re-type your password">
  </div>



  <button type="submit" class="btn btn-primary">signup</button>
</form>