<form action="" method="POST" role="form">
  <legend>login</legend>
  <div class="form-group">
    <label for="">username</label>
      <input type="text" class="form-control" name="name" placeholder="username">
    <label for="">password</label>
      <input type="password" class="form-control" name="password" placeholder="password">
  </div>

`

  <button type="submit" class="btn btn-primary">login</button>
</form>