
<form action="" method="POST" role="form">
  <legend>New Date</legend>

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" name="name" placeholder="Name your date">
  </div>
  <button type="submit" class="btn btn-primary">Start</button>
</form>