
<form id="fucking" action="/results" method="GET" role="form">
  <legend>Form title</legend>

  <div class="form-group">
    <label for="">label</label>
    <input name="what" type="text" class="form-control" id="restaurant" placeholder="Search for a restaurant">
  </div>
  <button type="submit" class="btn btn-primary" id="searchBtn1">Submit</button>

</form>
<form action="/eventsResults" method="GET" role="form">
  <legend>Form title</legend>

  <div class="form-group">
    <label for="">Eventful API Search</label>
    <input name="keywords" type="text" class="form-control" id="not-restaurant" placeholder="Search for a concert or public event!">
  </div>
  <button type="submit" class="searchBtn btn btn-primary" id="searchBtn2">Submit</button>
</form>
<br>

<div class="listings">
</div>

