<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <form id="fourSquare-search" action="/results" method="GET" role="form">
        <legend>Search Businesses</legend>
        <div class="form-group">
          <input name="what" type="text" class="form-control" id="restaurant" placeholder="Search for a restaurant">
          <input name="dateID" type="hidden" id="dateID" value="<%= dateID %>">
          <button type="submit" class="searchBtn btn btn-primary glyphicon glyphicon-search pull-right" id="searchBtn1"></button>
        </div>
      </form>
    </div><!-- end restaurant search form -->

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <form action="/eventsResults" method="GET" role="form">
        <legend>Search Events</legend>
        <div class="form-group">
          <!-- <label for="">Eventful API Search</label> -->
          <input name="keywords" type="text" class="form-control" id="not-restaurant" placeholder="Search for a concert or public event!">
          <button type="submit" class="searchBtn btn btn-primary glyphicon glyphicon-search pull-right" id="searchBtn2"></button>
        </div>
      </form>
      <!-- bootstrap popover toggle, don't chage data or id attribs -->
      <!-- <button id="show-events" class="btn btn-lg btn-success" data-toggle="popover" title="Your Events" data-html="true">Events in Date</button>
      <a href="/dates"><button class="btn btn-primary pull-right">Save Date</button></a> -->
    </div><!-- end eventful search form -->

  </div>
</div> <!-- end row -->
<br>
<!-- list & map main div-->
<div id="main">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-xs-6" id="left">
        <!-- <h2>Events</h2> -->
      <button id="show-events" class="btn btn-success" data-toggle="popover" title="Your Events" data-html="true">Events in Date</button>

      <a href="/dates"><button id="submit-button" class="btn btn-primary pull-right">Save Date</button></a>
        <!-- item list -->
        <div class="panel panel-default results">
          <div id="results-header" class="panel-heading listings"><h4>results</h4></div>
        </div>

        <!-- end item list -->
      </div>
      <div class="col-xs-6 map-container"><!--map-canvas will be postioned here--></div>
    </div>
  </div>
</div><!-- end main list & map div -->


